@import '../abstract/mixins.scss';

.main {
  width: 100%;
  height: 100vh;
  // background: linear-gradient(80deg, rgba(36,40,48,0.5) 0%, rgba(36,40,48,0) 100%);
  background: #1d2026;
  position: relative;
  display: flex;
  @include respond(sm) {
    flex-direction: column;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    background: #242830;
    background: linear-gradient(
      80deg,
      rgba(36, 40, 48, 0.5) 0%,
      rgba(36, 40, 48, 0) 100%
    );
    -webkit-transform-origin: 0;
    transform-origin: 0;
    -webkit-transform: skewY(-12deg);
    transform: skewY(-12deg);
  }

  .left {
    flex-basis: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .hero {
      max-width: 60%;
      @include respond(sm) {
        margin-top: 100px;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .hero-title {
        font-size: 3rem;
        font-weight: bold;
        color: #fff;
        margin-bottom: 1rem;
        font-family: 'Lora', sans;

        @include respond(sm) {
          text-align: center;
          font-size: 2rem;
          max-width: 80%;
        }
      }

      .hero-content {
        font-size: 1.5rem;
        color: $primary-gray-light;
        font-family: 'Segoe UI', sans;
        margin-bottom: 1rem;
        @include respond(sm) {
          font-size: 1.2rem;
          max-width: 80%;
          text-align: center;
        }
      }

      div {
        .button {
          padding: 1rem 1.2rem;
          font-size: 1rem;
          background-color: $primary-blue;
          color: white;
          text-transform: uppercase;
          border-radius: 10px;
          cursor: pointer;
          transition: 150ms;

          &:hover {
            box-shadow: #00bffb;
          }
        }

        div{
            .navigate-tool{
                font-size: 3rem;
                font-size: white;
                cursor: pointer;
            }
        }
      }
    }
    @include respond(sm) {
      flex-basis: 100%;
      height: auto;
    }
  }

  .right {
    flex-basis: 50%;
    // margin-top: -100px ;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../../public/hero-back-illustration.svg');
    @include respond(sm) {
      flex-basis: 100%;
      height: auto;
    }
    .abstract {
      width: 400px;
      height: 400px;

      position: relative;
      &::before {
        top: -57.8%;
        left: -1.3%;
        width: 152.84%;
        height: 178.78%;
        background-image: url('../../../public/hero-back-illustration.svg');
      }

      .hero-figure-box-01 {
        left: 103.2%;
        top: 41.9%;
        width: 28.03%;
        height: 37.37%;
        background: linear-gradient(to left top, #00bffb, rgba(#00bffb, 0));
        transform: rotateZ(45deg);

        &::before {
          background: linear-gradient(to left, #15181d, #15181d);
          transform: rotateZ(45deg) scale(1.5);
        }
      }
      .hero-figure-box-02 {
        left: 50%;
        top: 41.9%;
        width: 40%; 
        height: 90%;
        background: linear-gradient(to left top, #00bffb, rgba(#00bffb, 0));
        transform: rotateZ(45deg);

        &::before {
          background: linear-gradient(to left, #15181d, #15181d);
          transform: rotateZ(45deg) scale(1.5);
        }
      }
    }
  }
}
