$primary-pink: #E68585;

$primary-gray: #3E4042;
$primary-gray-light: #A0BCC2;

$secondary-gray:#e4e6eb;
$secondary-gray-light: #b0b3b8;

$primary-black-screen: #242526;

$primary-purple-dark: #1b1a21;
$primary-purple: #7754b0;
$secondary-purple-dark: #2a2d3e;

