@import '../../abstract/mixins.scss';

.message-wrapper {
  height: 100vh;
  display: flex;

  .message-group-left {
    flex-basis: 25%;
    height: 100%;
    background-color: aqua;
    @include respond(xs) {
      flex-basis: 15%;
    }

    @include respond(md) {
      flex-basis: 15%;
    }
  }

  .message-chatbox-right {
    display: flex;
    flex-direction: column;
    flex-basis: 75%;
    height: 100%;

    @include respond(xs) {
      flex-basis: 85%;
    }
    @include respond(md) {
      flex-basis: 85%; 
    }

    .chatbox-header {
      flex-basis: 6%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: .5rem 2rem;
      align-items: center;
      border-bottom: 1px solid #ccc;
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }

    .chatbox-content {
      flex-basis: 88%;
      overflow-y: scroll;
        padding: .5rem 0;
      .message-content {
        max-width: 100%;
        display: flex;
        margin-bottom: 0.2rem;
        .message-owner-avatar {
          width: 40px; 
          height: 40px;
          display: flex;
          align-items: flex-end;
          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            cursor: pointer; 
          }
        }

        .message {
          margin-left: .5rem; 
          max-width: 55%;
          display: flex;
          align-items: flex-end;
         
          .message-content{
            padding: .6rem .8rem;
            word-break: break-all;
            font-size:1rem;
            border-radius: 15px;
            background-color: $primary-pink;
            color: #eee
          }
        }   
      }

      .my-message{
        max-width: 100%;
        display: flex;
        margin-bottom: 0.2rem;
        justify-content: flex-end;
        .my-message-content{
            margin-right: .5rem;
            padding: .6rem .8rem;
            word-break: break-all;
            font-size:1rem;
            border-radius: 15px;
            background-color: $primary-gray;
            color: #eee
        }
    }
    }

    .chatbox-input {
      flex-basis: 6%;
      display: flex;
      .message-input {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        resize: none;
        font-size: 1.2rem;
        padding: 10px;
      }
    }
  }
}
