@import '../../abstract/mixins.scss';

.message-wrapper {
  height: 100vh;
  display: flex;
  background-color: $primary-black-screen;
  .message-group-left {
    flex-basis: 400px;
    height: 100%;
    border-right: 0.5px solid $primary-gray;
    @include respond(xs) {
      flex-basis: 80px;
    }

    @include respond(md) {
      flex-basis: 80px;
    }
  }

  .message-chatbox-right {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    height: 100%;

    .chatbox-header {
      flex-basis: 6%;
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 2rem;
      align-items: center;
      border-bottom: 0.5px solid $primary-gray;
      .chatbox-header-info {
        display: flex;
        align-items: center;
        p {
          margin-left: 0.5rem;
          font-size: 1.1rem;
          font-family: 'Lora', sans;
        }
      }
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }

    .chatbox-content {
      flex-basis: 88%;
      overflow-y: scroll;
      padding: 0.5rem 0;
      &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: $primary-gray-light;
      }

      &::-webkit-scrollbar {
        background-color: $primary-gray;
      }

      .message-content {
        &.is-typing{
            padding-left:1rem;
        }


        display: flex;
        width: 100%;
        &.is-my-message{
            flex-direction: row-reverse;
          }
        .message-part-dir {
          max-width: 80%;
          display: flex;
          margin-bottom: 0.2rem;
          &.is-my-message{
            flex-direction: row-reverse;
          }

          .message-owner-avatar {
            margin-left: 1rem;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: flex-end;
            img {
              width: 100%;
              height: 100%;
              border-radius: 50%;
              cursor: pointer;
            }
          }

          .message {
            display: flex;
            margin-left: 0.5rem;
            width: 100%;
            .message-text {
              padding: 0.6rem 0.8rem;
              word-break: break-all;
              font-size: 1rem;
              border-radius: 15px;
              background-color: $primary-pink;
              color: $secondary-gray;
              &.is-my-message{
                background-color: $primary-gray;
                color: $secondary-gray;
                margin-right : 0.5rem;
              }
            }
          }
        }
        .message-forward {
          display: flex;
          align-items: center;
          color: $primary-gray-light;
          cursor: pointer;
          transition: 200ms;
          margin-left: 5px;
          &:hover {
            color: $primary-pink;
          }
        }
      }
    }

    .chatbox-input {
      flex-basis: 6%;
      display: flex;
      align-items: center;
      .chat-input-tool {
        display: flex;
        > * {
          margin: 0.5rem;
          cursor: pointer;
          color: white;
          transition: 200ms;
          &:hover {
            color: $primary-pink;
          }
        }
      }
      .message-input {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        resize: none;
        font-size: 16px;
        font-family: 'Poppins', sans-serif;
        border-radius: 20px;
        padding: 0 30px;
        background-color: $primary-gray;
        color: $secondary-gray-light;
        word-break: break-all;
      }
    }
  }
}
